.product
  display flex
  height 150px
  margin-top 10px
  &:hover
    background-color rgba(0,0,0,.04)
  .left
    width 150px
    display block
  .right
    padding-left 20px
    display flex
    flex-direction column
    .product__descriptiom
      flex-grow 2
  .product__name
    text-decoration underline
    cursor pointer
    padding 10px 0
    color #673ab7
  .product__price
    font-weight bold
    text-align right
    font-size 1.2em

