<div class="wrapper">
  <img
    src="{{ imageUrl }}"
    class="image"
    alt="Без изображения"
    #image
    (error)="onImageWasBroken($event)"
  />
  <div class="select-image-panel mat-ripple" (click)="selectNewImage()" matRipple>
    <mat-icon>add_photo_alternate</mat-icon>
  </div>
  <button
    mat-mini-fab
    class="restore-btn"
    (click)="restoreImage()"
    [disabled]="this.oldImageUrl === this.imageUrl"
  >
    <mat-icon>restore</mat-icon>
  </button>
</div>
<input #selectImage type="file" (change)="onImageSelect($event)" hidden />
