:host
  display flex
  flex-direction column

.image-block
  display flex
  justify-content center
  align-items center
  .image
    width 200px
    height 200px

.property
  width 100%

.actions
  justify-content right
  display flex
  *:not(:first-child)
    margin-left 10px


.properties
  width 800px
  margin-bottom 20px
  background #fafafa
  padding 10px
  display flex
  flex-direction column
  h5
    margin-bottom 10px
  .properties__table
    width 100%
  .properties__actions
    display flex
    justify-content flex-end
    margin-top 10px

.option-collumn
  width 1%
  button
    float right
