<div class="element" *ngFor="let product of products" >
  <div class="square image">
    <div class="content">
      <img [src]="product.imageUrl" [alt]="product.name">
    </div>
  </div>
  <div class="name">
    {{ product.name }}
  </div>
  <div class="price">
    <ng-container *ngIf="product.discount; else withoutDiscount">
        {{ product.price - product.discount | numberSplit }} ₸
    </ng-container>
    <ng-template #withoutDiscount>
        {{ product.price | numberSplit }} ₸
    </ng-template>
  </div>
</div>
