:host
  width 100%
  height 100%
  display flex
  justify-content center
  align-items center
  flex-direction column

.img
  width 60%

.text
  font-style italic
  background-color #000
  width 60%
  padding 20px
  box-sizing border-box
  color #fff
  text-align center
  font-size 24px

.down
  padding 20px
  color #fff
  background-color #000
  border-radius 8px
  margin 20px
  font-weight bold
  cursor pointer
  &:hover
    background-color rgba

.not-found-default
  width 100%
  height 100%
  display flex
  justify-content center
  align-items center
  font-size 32px
  font-style italic
  color #673AB7
  font-weight bold
  display flex
  flex-direction column
  align-items center
  cursor default
  .code
    text-shadow: 2px 2px 2px #666;
    font-size 128px
    color #000
