:host
  padding-top 24px
  display block

.actions__panel
  display flex
  justify-content flex-end

.address-not-found
  min-height 200px
  display flex
  justify-content center
  align-items center
  cursor default
  .container
    display flex
    flex-direction column
    color rgba(0,0,0,.38)
    font-size 22px
    text-align center
    .icon
      font-size 64px
