<div class="label">{{ label }}</div>
<div class="btn__wrapper btn__wrapper-left">
  <mat-icon class="btn" [inline]="true" (click)="prior()" >chevron_left</mat-icon>
</div>
<!-- TODO: Add responsible for this scrollabel list -->
<section class="list" [ngStyle]="{'transform': 'translateX(-' + 317.5 * index +'px)'}">
  <div
    class="list__item"
    *ngFor="let value of values"
    [routerLink]="['/product/' + value.id]"
  >
    <div class="item__image">
      <img [src]="value.imageUrl" alt="Изображение {{ value.name }}" />
    </div>
    <div class="item__text">{{ value.name }}</div>
  </div>
</section>
<div class="btn__wrapper btn__wrapper-right">
  <mat-icon class="btn" [inline]="true" (click)="next()" >chevron_right</mat-icon>
</div>
