<div class="wrapper">
  <mat-card class="registration-form">
    <mat-card-header class="form-header">
      <h3>Регистрация</h3>
      {{registerForm.value | json}}
    </mat-card-header>
    <mat-card-content>
      <form
        (ngSubmit)="submit()"
        [formGroup]="registerForm"
        class="form-content"
        #registrationForm="ngForm" >
        <mat-form-field>
          <mat-label>Почта</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="Почта"
            required />
        </mat-form-field>
        <div class="error" *ngIf="ctrlIsInvalid('email')">
          Почта имеет неизвестный формат!
        </div>

        <mat-form-field>
          <mat-label>Пароль</mat-label>
          <input
            matInput
            formControlName="password"
            placeholder="Пароль"
            type="password"
            required />
        </mat-form-field>
        <div class="error" *ngIf="ctrlIsInvalid('password')">
          Пароль должен быть более 6 символов!
        </div>

        <mat-form-field>
          <mat-label>Повторите пароль</mat-label>
          <input
            matInput
            formControlName="confirmPassword"
            placeholder="Повтор пароля"
            type="password"
            required />
        </mat-form-field>
        <div class="error" *ngIf="ctrlIsInvalid('confirmPassword')">
          Пароли не совпадают!
        </div>

        <mat-form-field>
          <mat-label>Имя</mat-label>
          <input
          matInput
          formControlName="name"
          placeholder="Имя"
          required />
        </mat-form-field>
        <div class="error" *ngIf="ctrlIsInvalid('name')">
          Имя не может быть пустым!
        </div>

        <mat-form-field>
          <mat-label>Фамилия</mat-label>
          <input
            matInput
            formControlName="lastName"
            placeholder="Фамилия"
            required />
        </mat-form-field>
        <div class="error" *ngIf="ctrlIsInvalid('lastName')">
          Фамилия не может быть пустым!
        </div>

        <mat-form-field>
          <mat-label>Телефон</mat-label>
          <input
            matInput
            formControlName="phoneNumber"
            placeholder="Телефон"
            [maxLength]="10"
            required />
        </mat-form-field>
        <div class="error" *ngIf="ctrlIsInvalid('phoneNumber')">
          Телефон требуется для связи курьера/оператора с вами!
        </div>
        <div class="footer-actions">
          <button mat-button mat-accent class="form-btn registration-btn" [routerLink]="['/login']">
            Авторизация
          </button>
          <button
            mat-button
            mat-accent
            class="form-btn form-btn_primary registration-btn" >
            Регистрация
          </button>
        </div>
      </form>
    </mat-card-content>
    <mat-card-footer class="form-footer">
      <mat-icon svgIcon="google" class="icon"></mat-icon>
      <mat-icon svgIcon="vk" class="icon"></mat-icon>
    </mat-card-footer>
  </mat-card>
</div>
