<div class="wrapper">
  <mat-card class="registration-form">
    <mat-card-header class="form-header">
      <h3>Регистрация</h3>
    </mat-card-header>
    <mat-card-content>
      <form class="form-content" #registrationForm="ngForm">
        <mat-form-field>
          <mat-label>Почта</mat-label>
          <input
            matInput
            [(ngModel)]="model.email"
            placeholder="Почта"
            name="email"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Пароль</mat-label>
          <input
            matInput
            [(ngModel)]="model.password"
            placeholder="Пароль"
            name="password"
            type="password"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Имя</mat-label>
          <input
            matInput
            [(ngModel)]="model.name"
            placeholder="Имя"
            name="name"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Фамилия</mat-label>
          <input
            matInput
            [(ngModel)]="model.lastName"
            placeholder="Фамилия"
            name="lastName"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Телефон</mat-label>
          <input
            matInput
            [(ngModel)]="model.phoneNumber"
            placeholder="Телефон"
            name="phoneNumber"
          />
        </mat-form-field>
        <div class="footer-actions">
            <button mat-button mat-accent class="form-btn registration-btn">Авторизация</button>
            <button mat-button mat-accent class="form-btn form-btn_primary registration-btn">Регистрация</button>
        </div>
      </form>
    </mat-card-content>
    <mat-card-footer class="form-footer">
      <mat-icon svgIcon="google" class="icon"></mat-icon>
      <mat-icon svgIcon="vk" class="icon"></mat-icon>
    </mat-card-footer>
  </mat-card>
</div>
