.container
  border 1px solid rgba(0,0,0,.12)
  border-radius 4px
  padding 20px 20px 0 20px
  margin-bottom 20px
  display flex
  flex-direction column
  position relative
  .row
    display flex
    & > *:first-child
      flex-grow 2
    .btn
      width 42px
      height 42px
      margin-left 20px
    .btn-favorite
      border-radius 50%
      background-color #fff
      color #ffd740
      border 1px solid rgba(0,0,0,.12)
      cursor pointer

