@import '../../stylus/colors.styl'
@import '../../stylus/sizes.styl'

header
  position: absolute
  z-index: 10
  top: 0
  width: 100%
  background: $header-color
  height: $header-height
  color: white
  box-shadow: 0 0 10px black
  display: flex
  justify-content: center

.item
  height: 100%
  display: flex
  align-items: center
  text-decoration: none
  color: white
  font-weight: 500
  font-size 15px
  margin: 0 20px
  &:hover
    color: $main-color

.item_right
  flex-grow 1
  display flex
  flex-direction row
  align-items center
  .account
    flex-grow 0
  .search
    flex-grow 2
    display flex
    align-items center

  & > *
    height 100%

.container-center
  width: 1280px
  max-width: 70%
  flex-direction: row
  display: flex

.icon
  width 24px
  height 24px
  margin 4px
