@import '../../stylus/colors.styl'
@import '../../stylus/sizes.styl'

.header
  background: $header-color
  color #fff
  padding 0 40px
  .spacer
    flex 1 1 auto
  .icon
    width 24px
    height 24px
    margin 4px
