<header>
  <mat-toolbar class="header">
    <button mat-button [routerLink]="['/main']">
      <img src="./../../assets/icons/icon.svg" class="icon" alt="" /> Электрон
    </button>

    <button mat-button [routerLink]="['/product-types']">Каталог</button>
    <button mat-button [routerLink]="['/addresses']">Центры</button>
    <button mat-button [routerLink]="['/actions']">Акции</button>
    <div class="spacer"></div>
    <ng-container *ngIf="user; then userIsAuthenticated; else userIsNotAuthenticated"></ng-container>
    <ng-template #userIsAuthenticated>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon> {{ user.name }} {{ user.lastName }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/profile']"><mat-icon>person</mat-icon> Профиль</button>
        <button mat-menu-item [routerLink]="['/cart']"><mat-icon>shopping_basket</mat-icon> Корзина</button>
        <button mat-menu-item [routerLink]="['/favorites']"><mat-icon>favorite</mat-icon> Избранное</button>
        <button mat-menu-item [routerLink]="['/admin-panel']" *ngIf="userIsAdmin" ><mat-icon>settings</mat-icon> Панель управления</button>
        <button mat-menu-item (click)="signOut()" ><mat-icon>exit_to_app</mat-icon> Выйти</button>
      </mat-menu>
    </ng-template>
    <ng-template #userIsNotAuthenticated>
      <button mat-button [routerLink]="['/login']">Вход</button>
    </ng-template>


  </mat-toolbar>
</header>
