@import '../../stylus/colors.styl'
@import '../../stylus/sizes.styl'

:host
  position sticky
  width 100%
  top 0
  z-index 2

.header
  background: $header-color
  color #fff
  padding 0 40px
  hard-shadow()
  .spacer
    flex 1 1 auto
  .icon
    width 24px
    height 24px
    margin 4px
