<h2>{{ action }}</h2>
<div class="image-block" *ngIf="product">
  <app-loadable-image [(ngModel)]="product.imageUrl" class="image"></app-loadable-image>
</div>
<!-- Название товара -->
<mat-form-field class="full-width" *ngIf="product" >
  <input
    matInput
    placeholder="Название товара"
    [(ngModel)]="product.name"
    required
  />
</mat-form-field>

<!-- Тип товара -->
<div class="product-type" *ngIf="product" >
  <app-product-type-input
    [(ngModel)]="product.productType"
    (change)="onSelectProductType($event)"></app-product-type-input>
</div>

<div class="static-properties" *ngIf="product" >
  <mat-form-field class="full-width">
    <input matInput placeholder="Цена" [(ngModel)]="product.price" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Кол-во" [(ngModel)]="product.count" required />
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea
      matInput
      placeholder="Описание товара"
      [(ngModel)]="product.description"
      [maxLength]="255"
      required
    ></textarea>
  </mat-form-field>
</div>

<div class="properties full-width" *ngIf="product" >
  <app-product-property-value-editor
    [productTypeId$]="selectedProductTypeId$"
    [productId]="product.id"
    [(ngModel)]="product.values"></app-product-property-value-editor>
</div>
<div class="actions">
  <button mat-flat-button (click)="closeDialog()" >Отмена</button>
  <button mat-raised-button color="primary" (click)="saveProduct()">
    Сохранить
  </button>
</div>
