:host
  display flex
  flex-direction column
  padding 0 20px

h2
  padding-bottom 20px

.info
  color #888
  text-align center
.actions
  display flex
  justify-content space-between
  padding-top 20px
