<h1 class="profile__label">Профиль</h1>
<mat-card class="profile__settings">
  <mat-tab-group [disableRipple]="false">
    <mat-tab label="Общее">
      <app-user-info></app-user-info>
    </mat-tab>

    <mat-tab label="Безопасность">
      <app-user-security></app-user-security>
    </mat-tab>

    <mat-tab label="Адреса доставки">
      <app-user-addresses></app-user-addresses>
    </mat-tab>

    <mat-tab label="История">
      <app-history-list></app-history-list>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<div>
  <mat-card class="notifications">
    <app-notifications-list></app-notifications-list>
  </mat-card>
</div>
