:host
  display flex
  flex-wrap wrap
  align-items baseline

.profile__label
  width 100%
  line-height 60px
  vertical-align center

.profile__settings
  width 780px
  margin-right 20px
  padding 0px 40px 20px 40px

.profile__notifications
  flex-grow 1
