:host
  display grid
  grid-template-columns 400px 1fr
  grid-column-gap 24px
  padding 24px 0

.statuses__list
  display flex
  flex-direction column

h3
  padding-bottom 16px

.actions
  display flex
  justify-content flex-end
