@import '../../../stylus/colors.styl'

.dropdown
  position relative
  height 100%

.dropdown:hover
  .target
    color $main-color
  .list
    visibility visible

.target
  cursor pointer
  height 100%
  display flex
  justify-content: center
  align-items: center
  padding: 0 10px

.list
  position absolute
  top 100%
  left 50%
  transform translateX(-50%)
  min-width 100%
  background #fff
  color #000
  transition .2s
  visibility hidden
  z-index 10
  border-radius 4px
  &:before
    content ''
    border-left 10px solid transparent
    border-right 10px solid transparent
    border-bottom 10px solid white
    position absolute
    left calc(50% - 10px)
    top -10px;
    z-index 10

  & li
    list-style none
    padding 4px 20px
    text-align center
    cursor pointer

  & li:hover
    color $main-color

  & li:last-child
    padding-bottom 10px
