<!-- Side panel -->
<div>
  <mat-card class="panel">
    <!-- List of points -->
    <ng-container *ngIf="!editMode; else nodeEditMode">
      <app-points-list
        (select)="selectPoint($event)"
        (add)="addNewPoint()"
        (edit)="editPoint($event)"
        (delete)="deletePoint($event)"
      ></app-points-list>
    </ng-container>

    <!-- Point edit panel -->
    <ng-template #nodeEditMode>
      <app-point-node-edit
        [(ngModel)]="selectedPoint"
        (pointEditMode)="updateEditPointMode($event)"
        (close)="closeEditMenu($event)"
      ></app-point-node-edit>
    </ng-template>
  </mat-card>
</div>
<!-- Map -->
<mat-card class="map">
  <app-map *ngIf="selectedPoint"
    [markers]="markers"
    [(ngModel)]="selectedPoint"
    [editMode]="editPointMode"
  ></app-map>
</mat-card>
