$gray-color = rgba(0,0,0,.12)

:host
  display flex

.line
  display flex
  align-items center
  box-sizing border-box
  border 1px solid $gray-color
  border-radius 4px

  & mat-icon
    font-size 32px
    width 32px
    height 32px
    color $gray-color

.choose-city
  margin-right 12px

.block
  display flex
  align-items center

mat-select
  max-width 240px
  min-width 120px
  & >>> > div
    padding 10px

.arrow
  color rgba(0,0,0,.54)
  cursor default


