:host
  display flex
  flex-direction column
  align-items center
  padding 20px

.table-wrapper
  width 80%

.table
  width 100%
  th:last-child
    width 1%

.row:hover
  background-color #eee
  cursor pointer

.add-btn
  margin-top 20px
