<header class="header">
  <div class="container-center">
    <a [routerLink]="['/main']" class="item">
      <img src="./../../assets/icons/icon.svg" class="icon" alt=""> Электрон
    </a>
    <a [routerLink]="['/main']" class="item">Каталог</a>
    <a [routerLink]="['/addresses']" class="item">Центры</a>
    <a [routerLink]="['/actions']" class="item">Акции</a>

    <!-- Account block -->
    <div class="item_right">
      <app-search class="search"></app-search>

      <div *ngIf="userFullName != ''; then user else signIn"></div>
      <ng-template #user>
          <app-header-dropdown [title]="userFullName" [items]="userDropdown" class="account"></app-header-dropdown>
      </ng-template>

      <ng-template #signIn>
          <a [routerLink]="['/login']" class="item">Вход</a>
      </ng-template>


      </div>

  </div>
</header>
