<header class="header">
  <div class="container-center">
    <a href="#" class="item">
      <img src="./../../assets/icons/icon.svg" class="icon" alt=""> Электрон
    </a>
    <a href="#" class="item">Каталог</a>
    <a href="#" class="item">Центры</a>
    <a href="#" class="item">Акции</a>

    <!-- Account block -->
    <div class="item_right">
      <app-search class="search"></app-search>
      <app-header-dropdown [title]="userFullName" [items]="userDropdown" class="account"></app-header-dropdown>
    </div>

  </div>
</header>
