<header class="header">
  <div class="container-center">
    <a [routerLink]="['/main']" class="item">
      <img src="./../../assets/icons/icon.svg" class="icon" alt="" /> Электрон
    </a>
    <a [routerLink]="['/product-types']" class="item">Каталог</a>
    <a [routerLink]="['/addresses']" class="item">Центры</a>
    <a [routerLink]="['/actions']" class="item">Акции</a>

    <!-- Account block -->
    <div class="item_right">
      <app-search class="search"></app-search>

      <div *ngIf="user; then userBlock; else signInBlock"></div>
      <ng-template #userBlock>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>person</mat-icon> {{ user.name }} {{ user.lastName }}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/profile']"><mat-icon>person</mat-icon> Профиль</button>
          <button mat-menu-item [routerLink]="['/cart']"><mat-icon>shopping_cart</mat-icon> Корзина</button>
          <button mat-menu-item [routerLink]="['/favorite']"><mat-icon>favorite</mat-icon> Избранное</button>
          <button mat-menu-item [routerLink]="['/admin-panel']"><mat-icon>settings</mat-icon> Панель управления</button>
          <button mat-menu-item [routerLink]="['/exit']"><mat-icon>exit_to_app</mat-icon> Выйти</button>
        </mat-menu>

      </ng-template>

      <ng-template #signInBlock>
        <a [routerLink]="['/login']" class="item">Вход</a>
      </ng-template>
    </div>
  </div>
</header>
