<div class="container">
  <!-- Слайдер активных акций -->
  <app-slider class="slider" [pages]="actions$ | async" *ngIf="(actions$ | async).length > 0" ></app-slider>
  <mat-divider></mat-divider>

  <!-- Новые товары -->
  <app-product-slider [values]="newestProducts" [label]="'Новинки'"></app-product-slider>
  <mat-divider></mat-divider>

  <!-- Популярные товары -->
  <app-product-slider [values]="bestProducts" [label]="'Популярное за все время'"></app-product-slider>
  <mat-divider></mat-divider>

  <!-- Товары недели -->
  <app-product-slider [values]="bestProducts" [label]="'Товары недели'"></app-product-slider>
  <mat-divider></mat-divider>
</div>
