.container
  height 100%
  display flex
  flex-direction column
  & > *
    margin-top 24px

.slider
  width 100%
  height 360px
  position relative
  display block
  transition .2s

.best-categories
  margin-top 20px

.color__white
  background-color #fff

app-product-slider
  border-bottom 1px solid rgba(0,0,0,.12)
  padding-bottom 20px
