:host
  min-height 300px

.wrapper
  display grid
  grid-template-columns 1fr 500px
  margin 20px


.table
  width 100%
  .row
    td:first-child
      width 100%
  .row:hover
    background-color #eee
    cursor pointer

.info
  border-left 1px solid rgba(0,0,0,.12)
