<app-header></app-header>

<section>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</section>

<footer>
  <div class="content-wrapper footer-wrapper">
    <div class="categories">
      <a
        *ngFor="let category of (categories$ | async)"
        [routerLink]="['/products/' + category.id]"
        >{{ category.name }}</a
      >
    </div>
    <div class="contacts">
      <div>Почта для связи: </div><strong>support.electron.shop.kz@gmail.com</strong>
      <div>Номер тех. поддержки1: </div><strong>8 702 896 8217</strong>
      <div>Номер тех. поддержки2: </div><strong>8 800 555 3535</strong>
    </div>
  </div>
</footer>
