@import '../stylus/sizes.styl'
@import '../stylus/colors.styl'

section
  flex-grow 2

.content-wrapper
  width $body-width
  height: 100%
  margin auto


.footer-wrapper
  display flex
  flex-direction column

footer
  flex-grow 0
  border-top 1px solid rgba(0,0,0,.12)
  background-color #fff
  padding 20px 0
  .categories
    display grid
    grid-template-columns 1fr 1fr 1fr
    grid-template-rows 1fr 1fr 1fr
    a
      color #333
      text-decoration none
      padding 4px
      &:hover
        color $main-color
  .contacts
    text-align right
    color #333333
    display grid
    grid-template-columns 1fr 1fr
    max-width 600px
    & > *:nth-child(even)
      text-align left
      padding-left 10px
