/* You can add global styles to this file, and also import other style files */
@import './stylus/material-icons.styl'
@import './stylus/sizes.styl'
@import './stylus/colors.styl'

*
  padding 0
  margin 0

body
  background-color #fff
  width 100vw
  min-height 100vh
  font-family 'Roboto', sans-serif
  position relative

app-root
  display flex
  flex-direction column
  min-height "calc(100vh - %s)" % $header-height
  padding-top $header-height

