:host
  display block
  padding-top 24px

.user__info
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-between

.full-width
  width 100%

.half-width
  width 45%

.actions
  display flex
  justify-content flex-end
  & > *
    margin-left 20px

.edit-btn
  margin-left auto
