<mat-list>
  <!-- Почта -->
  <mat-list-item>
    <div class="property">
      <div class="property__info">
        <h4>Email</h4>
        <div class="property__value">{{ user?.email }}</div>
      </div>
      <div>
        <button mat-raised-button (click)="updateEmail()" color="primary">
          <mat-icon>edit</mat-icon> Изменить
        </button>
      </div>
    </div>
  </mat-list-item>

  <!-- Запосная почта -->
  <mat-list-item>
    <div class="property">
      <div class="property__info">
        <h4>Запасной Email</h4>
        <div class="property__value">
          <div *ngIf="haveSecondaryEmail">{{ user.secondaryEmail }}</div>
          <div *ngIf="!haveSecondaryEmail">Отсутствует</div>
        </div>
      </div>
      <div>
        <button
          *ngIf="haveSecondaryEmail"
          mat-raised-button
          (click)="updateSecondaryEmail()"
          class="right"
          color="primary"
        >
          <mat-icon>edit</mat-icon> Изменить
        </button>
        <button
          *ngIf="!haveSecondaryEmail"
          mat-raised-button
          (click)="updateSecondaryEmail()"
          class="right"
          color="primary"
        >
          <mat-icon>add</mat-icon> Добавить
        </button>
      </div>
    </div>
  </mat-list-item>

  <!-- Пароль -->
  <mat-list-item class="top-padding">
    <div class="property">
      <div class="property__info">
        <h4>Пароль</h4>
        <div class="property__value">********</div>
      </div>
      <div>
        <button mat-raised-button (click)="updatePassword()" color="primary">
          <mat-icon>edit</mat-icon> Изменить
        </button>
      </div>
    </div>
  </mat-list-item>
</mat-list>
